<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: gilroy;

        }

        body,
        html {
            width: 100%;
            height: 100%;

        }

        .main {
            width: 100%;
            height: 100vh;
            background-color: black;
            display: flex;
            gap: 10px;
            position: relative;
        }

        .left {
            width: 24.4%;
            position: fixed;
            border-radius: 9px;
            height: 83%;
            left: 0;
            margin-top: 8px;
            background-color: #121212;
        }

        .right {
            width: 75%;
            position: absolute;
            right: 0;
            height: 83%;
            margin-top: 8px;
            /* overflow: hid; */
            overflow-x: auto;
            border-radius: 9px;
            background: linear-gradient(to bottom, #5840a9, #1A152A);



        }

        .pro {
            display: flex;
            align-items: center;
            width: 100%;
            height: 33vh;
            /* background-color: #881c1c; */
        }

        .pro i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24vh;
            font-size: 6vw;
            height: 24vh;
            border-radius: 8px;
            color: white;
            margin-top: 1vw;
            margin-left: 2vw;
            background: linear-gradient(120deg, #5A2FEF, #d3deea);

        }

        .pro h1 {
            color: white;
            letter-spacing: -2px;
            font-size: 6.4vw;
            margin-left: 1vw;
        }

        .pro h5 {
            color: white;
            font-size: 16px;
            font-weight: 500;
            margin-left: 1vw;

        }


        .musics {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        }


        .song {
            /* background-color: #323030; */
            height: fit-content;
            background-color: #272727;
            width: fit-content;
            padding: 7px;
            border-radius: 7px;
            margin: 9px;
            position: relative;
            cursor: pointer;
            transition: all ease 0.2s;

        }

        .song a {
            text-decoration: none;
        }

        .song:hover {
            background-color: #3c3b3b;
        }

        .song .text h5,
        .song .text p {
            max-width: 150px;
            overflow: hidden;
            color: white;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .song .text p {
            color: lightgrey;
        }

        .song a {
            font-size: 25px;
        }

        .song img {
            width: 100%;
            /* height: 150px; */
            object-fit: cover;

        }

        .playButton {
            position: absolute;
            top: 60%;
            left: 80%;
            font-size: 50px;
            cursor: pointer;
            transition: all ease 0.3s;
            /* opacity: 0; */

        }

        .song:hover .playButton {
            opacity: 1;
        }

        .playButton i {
            color: green;
        }



        .nav-bottom {
            width: 100%;
            height: 90px;
            /* background-color: red; */
            position: fixed;
            bottom: 1vw;
            display: flex;
            align-items: center;
        }

        .nav-bottom img {
            height: 60px;
            margin-left: 2vw;
            border-radius: 5px;
            object-fit: cover;
        }

        .nav-bottom h4 {
            color: white;
            margin-left: 1vw;
            font-weight: 500;
        }

        .nav-bottom h5 {
            color: white;
            margin-left: 1vw;

            font-weight: 500;
        }

        .nav-bottom audio {
            width: 40vw;
            position: absolute;
            bottom: 1vw;
            z-index: 99999999;
            left: 40%;

        }

        .nav-bottom audio::-webkit-media-controls-panel {
            background-color: #1FDF64;
            color: #a0276e;
        }



        .over-top {

            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            height: 19vh;
            background-color: #121212;
        }


        .over-top a {
            width: 80%;
            height: 55px;
            border-radius: 10px;
            text-decoration: none;
            border: none;
            background-color: transparent;
            text-align: start;
            display: flex;
            color: white;
            margin-top: 10px;
            padding: 0 10px;
            margin-left: 2vw;
            align-items: center;
            font-size: 1.5vw;
            gap: 10px;
            transition: all ease 0.4s;
        }

        .over-top a:hover {
            background-color: #5f5656;
        }

        .search {
            display: flex;
            align-items: center;
            gap: 17px;
        }

        .search input {

            width: 18vw;
            height: 7vh;
            font-size: 16px;
            font-weight: 500;
            color: #6C6C6C;
            border-radius: 50px;
            margin-left: 1vw;
            border: 2px solid white;
            background-color: #2A2A2A;
            margin-top: 1vw;
            padding-left: 10px;
        }

        .search i {
            /* color:#008000; */
            color: white;
            font-size: 1.6vw;
            padding: 6px 6px;
            border: 2px solid white;
            border-radius: 50px;
            background-color: #2A2A2A;
            margin-top: 15px;
        }

        @media (max-width:600px) {
            #main {
                flex-direction: column;
                height: 100%;
            }

            .left {
                width: 100vw;
                height: 35vh;

                left: 0;

                /* background-color: red; */
            }

            .over-top {
                background-color: rgb(53, 52, 52);
                height: 10vh;
                display: flex;
            }

            .over-top a {
                background-color: rgb(69, 68, 68);
                /* position: absolute; */
                width: 15%;
                left: 18%;
                display: flex;
                height: 50px;

                font-size: 4vw;


            }

            .over-top a i {
                font-size: 8vw;
            }

            .over-top a p {
                display: none;
            }

            .over-top button {
                position: absolute;
                width: 13%;
                height: 50px;
            }


            .over-top button i {
                font-size: 8vw;
            }

            .over-top button p {
                display: none;
            }

            .over-bottom {
                width: 19%;
                height: 9vh;
                position: absolute;
                top: 5px;
                background-color: transparent;
                left: 77%;
            }

            .over-bottom i {
                position: absolute;
                top: -1px;
                font-size: 7vw;
            }

            .over-bottom a p {
                display: none;
            }

            .left input {
                width: 80vw;
                height: 8vh;
                margin-top: 4vw;
            }

            .bot button {
                width: 12vw;
                height: 7vh;
                margin-left: 2vw;
            }

            .right {
                width: 100%;
                height: 100%;
                top: 30%;
                /* position: absolute; */
            }

            .pro h1 {
                font-size: 10vw;
            }

            .search i {
                font-size: 5vw;
                padding: 11px 11px;
            }

            .pro h5 {
                font-size: 25px;
            }

            .port1{
                position: absolute;
                bottom:77%;
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .nav-bottom audio {
                /* bottom: 1px; */
                width: 85vw;
                left: 5%;
            }

        }
    </style>
</head>

<body>

    <div class="main">

        <div class="left">
            <div class="over-top">

                <a href="/">
                    <i class="ri-home-5-fill"></i>
                    <p>Home</p>
                </a>

                <a href="/search">
                    <i class="ri-search-line"></i>
                    <p>Search</p>
                </a>

            </div>

            <div class="search">
                <input type="text" placeholder="What do you want to listen?">
                <i class="ri-search-line"></i>

            </div>

        </div>
        <div class="right">

            <div class="pro">
                <i class="ri-heart-fill"></i>
                <div class="pro-data">
                    <h5>Playlist</h5>
                    <h1>Liked Songs</h1>
                </div>

            </div>

            <div class="musics">

                <% songData.likes.forEach(function(song){ %>

                    <div class="song">

                        <div class="image">
                            <img src="/poster/<%= song.poster %>" alt="">
                            <div class="playButton" onclick="songCardClick('<%= song.fileName %>')">
                                <i class="ri-play-circle-fill"></i>
                            </div>
                        </div>
                        <div class="text">
                            <h5>
                                <%= song.title %>
                            </h5>
                            <p>
                                <%= song.artist %>
                            </p>

                        </div>
                        <a href="/likeMusic/<%= song._id %>">
                            <p>
                                <%= song.likes.indexOf(songData.id)===-1 ? "ðŸ¤" : "ðŸ’š" %>
                            </p>
                        </a>

                    </div>
                    <% }) %>
            </div>


        </div>

        <div class="nav-bottom">
            <div class="port1">

                <img class="posterName" src="" alt="">
                <div class="nav-c">

                    <h4 class="songName"></h4>
                    <h5 class="artistName"></h5>
                </div>
            </div>
            <audio src="" controls></audio>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"
        integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        document.querySelector('.left .search i').addEventListener('click', function () {
            searchSong();
        })

        async function searchSong() {
            const result = await axios.post('/search', {
                search: document.querySelector('.left .search input').value
            })

            let clutter = ''
            result.data.songs.forEach(song => {
                clutter += ` <div class="song" onClick="songCardClicked('${song.fileName}')">
          <img src="/poster/${song.poster}" alt="">
          <div class="text">
            <h5>${song.title}</h5>
            <p> ${song.artist}</p>
            <p> ${song.album}</p>
          </div>
          <div class="playButton">
            <i class="ri-play-circle-fill"></i>
          </div>
        </div>`

            })

            document.querySelector('.musics').innerHTML = clutter

        }

        async function songCardClick(fileName) {
            await axios.get(`/SongName/${fileName}`)
                .then(function (songName) {
                    document.querySelector('.songName').innerHTML = songName.data.title.title
                    document.querySelector('.artistName').innerHTML = songName.data.title.artist

                    document.querySelector('.posterName').setAttribute('src', `/poster/${songName.data.title.poster}`)
                    // console.log(songName.data.title.poster)
                })


            document.querySelector('audio').setAttribute('src', `/stream/${fileName}`)
            document.querySelector('audio').play()

        }





    </script>














</body>

</html>